button{
    cursor: pointer;
}
.long-transition-time {
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.aboutlaura{
    font-family: 'Crimson Text', serif;
    background-color: #c3bbae;
}
.laucode{
  font-family: 'Playfair Display', serif;
}
.mybutton{
  cursor: help;
}
#Aboutme{
    width: 100%;
}
   .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }